body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
a {
  text-decoration: none;
}
button {
  border: none;
  background-color: blueviolet;
  color: white;
  border-radius: 2px;
  box-shadow: 2px 2px 0 0 rebeccapurple;
  padding: 3px;
}
h1 {
  display: block;
  margin: 0 auto;
  color: rgb(33, 33, 33);
  font-weight: 950px;
}
h2 {
  line-height: 30px;
  font-weight: bold;
}
h3 {
<<<<<<< HEAD
  font-size: 16px;
=======
  color: #878787;
  font-size: medium;
>>>>>>> 0ed1a51b791e6ad878ce3275728a3dd4f46563c9
  padding: none;
}

p {
  margin-top: 10px;
  margin-bottom: 0;
  margin-right: 20px;
  font-size: 60px;
  text-align: right;
}
.button-format {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  border-radius: 3px;
  padding: 3px;
  box-shadow: none;
}
.fa-solid {
  font-size: 40px;
  color: rgb(238, 222, 6);
}

.footer {
  text-align: right;
  line-height: 50px;
  font-size: smaller;
  margin: 0 auto;
}

#date {
  color: #878787;
}

#humidity-results {
  color: #878787;
  text-align: right;
}
.visual-rep-text {
  text-align: right;
  line-height: 20px;
}
#weather-description {
  color: #878787;
  text-align: right;
}
.weekly-prediction {
  width: 100%;
  text-align: center;
  margin: 10px 0 20px 0;
}
#wind-speed {
  color: #878787;
  text-align: right;
}
.container {
  border: 1px solid;
  border-color: rgba(134, 121, 121, 0.2);
  border-radius: 5px;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(255, 246, 236) 39.5%,
    rgba(100, 46, 122, 0.23) 100.2%
  );

  box-shadow: 2px 2px 0 0 darkgrey;
  width: 50%;
  margin-top: 20px;
}

.card-body {
  display: block;
  border: 4px solid grey rgb(212, 177, 177);
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.card-text {
  font-weight: bold;
  font-size: 11px;
  text-align: center;
}
.temperature-digit {
  font-family:Arial, Helvetica, sans-serif
  color: black;
  font-size: 45px;
  font-weight: bold;
}
.temperature {
  font-family:Arial, Helvetica, sans-serif
  font-size: 16px;
  position: relative;
  top: -22px;
}

.temperature .active {
  color:rgb(33, 33, 33);
  cursor: default;
}
